<a href="https://colab.research.google.com/github/freedom-780/FBI-Firearm-Background-Check/blob/main/Firearm_Background_Check.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a id='intro'></a>
## Introduction

> The dataset from The National Instant Criminal Background Check System (NICS) is managed by the FBI  according to the Brady Handgun Violence Prevention Act of 1993 (Brady Act) -- fully implemented on Novemeber 30, 1998 -- and there are differences in state law in regards to requirements. Those that have valid ATF permits and for services and repair picked u by the same person don't require a background check. Data is collected with ATF Form 4473

Types of background checks:

* Handgun—(a) any firearm which has a short stock and is designed to be held and fired by the use of a single hand; and (b) any combination of parts from which a firearm described in paragraph (a) can be assembled.
* Long Gun—a weapon designed or redesigned, made or remade, and intended to be fired from the shoulder, and designed or redesigned and made or remade to use the energy of the explosive in (a) a fixed metallic cartridge to fire a single projectile through a rifled bore for each single pull of the trigger; or (b) a fixed shotgun shell to fire through a smooth bore either a number of ball shot or a single projectile for each single pull of the trigger.
* Other(might want to drop columns or check if they are outliers)—refers to frames, receivers, and other firearms that are neither handguns nor long guns (rifles or shotguns), such as firearms having a pistol grip that expel a shotgun shell, or National Firearms Act firearms, including silencers.

Questions 

* Comparisons of regular gun sales to private gun sales?
* which type of gun sale is increasing the most?
* Any trends between type of gun ownership and mass shootings?(https://github.com/StanfordGeospatialCenter/MSA/tree/master/Data)
* WHat are the trends in background checks and mass shootings for states with the weakest poklicies?
* Are there any intresting overall trends, like spikes in gun ownership for certain periods of time such such as policy changes?
* prices of guns and mass shootings?

In [99]:
# import packages 
import pandas as pd 
pd.options.display.float_format = '{:,.2f}'.format
pd.set_option('display.width', 70)
pd.set_option('display.max_columns', 8)
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt
%matplotlib inline

<a id='wrangling'></a>
## Data Wrangling

> **Tip**: In this section of the report, you will load in the data, check for cleanliness, and then trim and clean your dataset for analysis. Make sure that you document your steps carefully and justify your cleaning decisions.

### General Properties

In [ ]:
# Load data and print out a few lines. Perform operations to inspect data

gun_data = "https://github.com/freedom-780/FBI-Firearm-Background-Check/blob/main/gun_data.xlsx?raw=true"
gun_background_check = pd.read_excel(gun_data)

standford_msa = "https://raw.githubusercontent.com/freedom-780/FBI-Firearm-Background-Check/main/Stanford_MSA_Database.csv"
mass_shootings = pd.read_csv(standford_msa)

In [ ]:
gun_background_check.columns

Index(['month', 'state', 'permit', 'permit_recheck', 'handgun', 'long_gun', 'other',
       'multiple', 'admin', 'prepawn_handgun', 'prepawn_long_gun', 'prepawn_other',
       'redemption_handgun', 'redemption_long_gun', 'redemption_other',
       'returned_handgun', 'returned_long_gun', 'returned_other', 'rentals_handgun',
       'rentals_long_gun', 'private_sale_handgun', 'private_sale_long_gun',
       'private_sale_other', 'return_to_seller_handgun',
       'return_to_seller_long_gun', 'return_to_seller_other', 'totals'],
      dtype='object')

In [ ]:
mass_shootings.columns

Index(['CaseID', 'Title', 'Location', 'City', 'State', 'Latitude', 'Longitude',
       'Number of Civilian Fatalities', 'Number of Civilian Injured',
       'Number of Enforcement Fatalities', 'Number of Enforcement Injured',
       'Total Number of Fatalities', 'Total Number of Victims', 'Description',
       'Date', 'Day of Week', 'Date - Detailed', 'Shooter Name',
       'Number of shooters', 'Shooter Age(s)', 'Average Shooter Age', 'Shooter Sex',
       'Shooter Race', 'Type of Gun - Detailed', 'Type of Gun - General',
       'Number of Shotguns', 'Number of Rifles', 'Number of Handguns',
       'Total Number of Guns', 'Number of Automatic Guns',
       'Number of Semi-Automatic Guns', 'Fate of Shooter at the scene',
       'Fate of Shooter', 'Shooter's Cause of Death', 'School Related',
       'Place Type', 'Relationship to Incident Location',
       'Targeted Victim/s - Detailed', 'Targeted Victim/s - General',
       'Possible Motive - Detailed', 'Possible Motive - General',
       'History of Mental Illness - Detailed',
       'History of Mental Illness - General', 'Data Source 1', 'Data Source 2',
       'Data Source 3', 'Data Source 4', 'Data Source 5', 'Data Source 6',
       'Data Source 7', 'Military Experience', 'Class', 'Depreciation', 'Notes',
       'Edit Date'],
      dtype='object')

Disgard the columns not needs for analysis. 

For the background check 'month', 'state, 'handgun', 'long_gun', 'other', 'multiple',private_sale_handgun', 'private_sale_long_gun', 'private_sale_other', 'totals' data only the columns most useful for the analysis are

For mass shooting:

In [ ]:
# drop columns that are not needed
gun_background_check.drop(gun_background_check.columns.difference(['month', 'state', 'handgun', 'long_gun', 'other', 'multiple', 'private_sale_handgun', 'private_sale_long_gun', 'private_sale_other', 'totals']), 1, inplace=True)

In [ ]:
gun_background_check.columns

Index(['month', 'state', 'handgun', 'long_gun', 'other', 'multiple',
       'private_sale_handgun', 'private_sale_long_gun', 'private_sale_other',
       'totals'],
      dtype='object')

In [ ]:
gun_background_check.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12485 entries, 0 to 12484
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   month                  12485 non-null  object
 1   state                  12485 non-null  object
 2   handgun                12465 non-null  float64
 3   long_gun               12466 non-null  float64
 4   other                  5500 non-null   float64
 5   multiple               12485 non-null  int64
 6   private_sale_handgun   2750 non-null   float64
 7   private_sale_long_gun  2750 non-null   float64
 8   private_sale_other     2750 non-null   float64
 9   totals                 12485 non-null  int64
dtypes: float64(6), int64(2), object(2)
memory usage: 975.5+ KB

In [ ]:
mass_shootings.drop(mass_shootings.columns.difference(['State','Date','Type of Gun - General','Number of Shotguns','Number of Rifles','Number of Handguns','Total Number of Guns','Number of Automatic Guns','Number of Semi-Automatic Guns','Possible Motive - General','History of Mental Illness - General']), 1, inplace=True)

In [ ]:
mass_shootings.columns

Index(['State', 'Date', 'Type of Gun - General', 'Number of Shotguns',
       'Number of Rifles', 'Number of Handguns', 'Total Number of Guns',
       'Number of Automatic Guns', 'Number of Semi-Automatic Guns',
       'Possible Motive - General', 'History of Mental Illness - General'],
      dtype='object')

In [ ]:
mass_shootings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335 entries, 0 to 334
Data columns (total 11 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   State                                335 non-null    object
 1   Date                                 335 non-null    object
 2   Type of Gun - General                335 non-null    object
 3   Number of Shotguns                   335 non-null    object
 4   Number of Rifles                     335 non-null    object
 5   Number of Handguns                   335 non-null    object
 6   Total Number of Guns                 335 non-null    object
 7   Number of Automatic Guns             335 non-null    object
 8   Number of Semi-Automatic Guns        335 non-null    object
 9   Possible Motive - General            333 non-null    object
 10  History of Mental Illness - General  335 non-null    object
dtypes: object(11)
memory usage: 28.9+ KB

In [ ]:
mass_change_dtype = {'Number of Shotguns': 'float64', 
                     'Number of Rifles': 'float64', 
                     'Total Number of Guns': 'float64',
                     'Number of Automatic Guns': 'float64',
                     'Number of Semi-Automatic Guns': 'float64'
                     }

In [ ]:
mass_shootings.astype(mass_change_dtype)

ValueError: ignored

In [104]:
for i in mass_shootings:
  mass_shootings.drop(mass_shootings.index[mass_shootings[i] == 'Unknown'], inplace = True)
  mass_shootings.drop(mass_shootings.index[mass_shootings[i] == '0 (1)'], inplace = True)

In [107]:
mass_shootings = mass_shootings.astype(mass_change_dtype)

In [108]:
mass_shootings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 146 entries, 0 to 333
Data columns (total 11 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   State                                146 non-null    object
 1   Date                                 146 non-null    object
 2   Type of Gun - General                146 non-null    object
 3   Number of Shotguns                   146 non-null    float64
 4   Number of Rifles                     146 non-null    float64
 5   Number of Handguns                   146 non-null    object
 6   Total Number of Guns                 146 non-null    float64
 7   Number of Automatic Guns             146 non-null    float64
 8   Number of Semi-Automatic Guns        146 non-null    float64
 9   Possible Motive - General            146 non-null    object
 10  History of Mental Illness - General  146 non-null    object
dtypes: float64(5), object(6)
memory usage: 18.7+ KB

for the mass shootings database, the following colu

In [ ]:
# print statistics about permit data 

print(f"Shape of permit data: {gun_background_check.shape}")
print(f"Number of mission values in permit data: \
{gun_background_check.isnull().sum().sum()}")
print(f"Number of duplicate values in permit data: \
{gun_background_check.duplicated().sum()}")

Shape of permit data: (12485, 10)
Number of mission values in permit data: 36229
Number of duplicate values in permit data: 0

In [ ]:
gun_background_check.isnull().sum()

month                       0
state                       0
handgun                    20
long_gun                   19
other                    6985
multiple                    0
private_sale_handgun     9735
private_sale_long_gun    9735
private_sale_other       9735
totals                      0
dtype: int64

In [ ]:
# print statistics about mass shootings data

print(f"Shape of mass shooting data: {mass_shootings.shape}")
print(f"Number of mission values in mass shooting data: \
{mass_shootings.isnull().sum().sum()}")
print(f"Number of duplicate values in mass shooting data: \
{mass_shootings.duplicated().sum()}")

Shape of mass shooting data: (335, 11)
Number of mission values in mass shooting data: 2
Number of duplicate values in mass shooting data: 1

In [ ]:
mass_shootings.isnull().any()

State                                  False
Date                                   False
Type of Gun - General                  False
Number of Shotguns                     False
Number of Rifles                       False
Number of Handguns                     False
Total Number of Guns                   False
Number of Automatic Guns               False
Number of Semi-Automatic Guns          False
Possible Motive - General               True
History of Mental Illness - General    False
dtype: bool

In [ ]:
mass_shootings_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335 entries, 0 to 334
Data columns (total 55 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   CaseID                                335 non-null    int64
 1   Title                                 335 non-null    object
 2   Location                              335 non-null    object
 3   City                                  335 non-null    object
 4   State                                 335 non-null    object
 5   Latitude                              335 non-null    float64
 6   Longitude                             335 non-null    float64
 7   Number of Civilian Fatalities         335 non-null    int64
 8   Number of Civilian Injured            335 non-null    int64
 9   Number of Enforcement Fatalities      335 non-null    int64
 10  Number of Enforcement Injured         335 non-null    int64
 11  Total Number of Fatalities            335 non-null    int64
 12  Total Number of Victims               335 non-null    int64
 13  Description                           335 non-null    object
 14  Date                                  335 non-null    object
 15  Day of Week                           335 non-null    object
 16  Date - Detailed                       335 non-null    object
 17  Shooter Name                          335 non-null    object
 18  Number of shooters                    332 non-null    object
 19  Shooter Age(s)                        335 non-null    object
 20  Average Shooter Age                   335 non-null    object
 21  Shooter Sex                           335 non-null    object
 22  Shooter Race                          335 non-null    object
 23  Type of Gun - Detailed                329 non-null    object
 24  Type of Gun - General                 335 non-null    object
 25  Number of Shotguns                    335 non-null    object
 26  Number of Rifles                      335 non-null    object
 27  Number of Handguns                    335 non-null    object
 28  Total Number of Guns                  335 non-null    object
 29  Number of Automatic Guns              335 non-null    object
 30  Number of Semi-Automatic Guns         335 non-null    object
 31  Fate of Shooter at the scene          335 non-null    object
 32  Fate of Shooter                       333 non-null    object
 33  Shooter's Cause of Death              335 non-null    object
 34  School Related                        335 non-null    object
 35  Place Type                            335 non-null    object
 36  Relationship to Incident Location     333 non-null    object
 37  Targeted Victim/s - Detailed          335 non-null    object
 38  Targeted Victim/s - General           334 non-null    object
 39  Possible Motive - Detailed            334 non-null    object
 40  Possible Motive - General             333 non-null    object
 41  History of Mental Illness - Detailed  335 non-null    object
 42  History of Mental Illness - General   335 non-null    object
 43  Data Source 1                         335 non-null    object
 44  Data Source 2                         333 non-null    object
 45  Data Source 3                         324 non-null    object
 46  Data Source 4                         255 non-null    object
 47  Data Source 5                         142 non-null    object
 48  Data Source 6                         68 non-null     object
 49  Data Source 7                         75 non-null     object
 50  Military Experience                   335 non-null    object
 51  Class                                 335 non-null    object
 52  Depreciation                          335 non-null    int64
 53  Notes                                 5 non-null      object
 54  Edit Date                             335 non-null    object
dtypes: float64(2), int64(8), object(45)
memory usage: 144.1+ KB

In [ ]:
mass_shootings_data.columns

Index(['CaseID', 'Title', 'Location', 'City', 'State', 'Latitude', 'Longitude',
       'Number of Civilian Fatalities', 'Number of Civilian Injured',
       'Number of Enforcement Fatalities', 'Number of Enforcement Injured',
       'Total Number of Fatalities', 'Total Number of Victims', 'Description',
       'Date', 'Day of Week', 'Date - Detailed', 'Shooter Name',
       'Number of shooters', 'Shooter Age(s)', 'Average Shooter Age',
       'Shooter Sex', 'Shooter Race', 'Type of Gun - Detailed',
       'Type of Gun - General', 'Number of Shotguns', 'Number of Rifles',
       'Number of Handguns', 'Total Number of Guns',
       'Number of Automatic Guns', 'Number of Semi-Automatic Guns',
       'Fate of Shooter at the scene', 'Fate of Shooter',
       'Shooter's Cause of Death', 'School Related', 'Place Type',
       'Relationship to Incident Location', 'Targeted Victim/s - Detailed',
       'Targeted Victim/s - General', 'Possible Motive - Detailed',
       'Possible Motive - General', 'History of Mental Illness - Detailed',
       'History of Mental Illness - General', 'Data Source 1', 'Data Source 2',
       'Data Source 3', 'Data Source 4', 'Data Source 5', 'Data Source 6',
       'Data Source 7', 'Military Experience', 'Class', 'Depreciation',
       'Notes', 'Edit Date'],
      dtype='object')

In [ ]:
us_census_data.columns

Index(['Fact', 'Fact Note', 'Alabama', 'Alaska', 'Arizona', 'Arkansas',
       'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida',
       'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas',
       'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts',
       'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',
       'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico',
       'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma',
       'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia',
       'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype='object')

In [ ]:
permit_data.head(10)

     month                 state  ...  return_to_seller_other  totals
0  2017-09               Alabama  ...                     3.0   32019
1  2017-09                Alaska  ...                     0.0    6303
2  2017-09               Arizona  ...                     0.0   28394
3  2017-09              Arkansas  ...                     1.0   17747
4  2017-09            California  ...                     0.0  123506
5  2017-09              Colorado  ...                     0.0   35873
6  2017-09           Connecticut  ...                     0.0   12117
7  2017-09              Delaware  ...                     0.0    3502
8  2017-09  District of Columbia  ...                     0.0      61
9  2017-09               Florida  ...                     0.0   77390

[10 rows x 27 columns]

In [ ]:
print(f"Shape of Permit Data: {permit_data.shape} ")

Shape of Permit Data: (12485, 27)

In [ ]:
permit_data.describe().T

                             count          mean  ...       75%       max
permit                     12461.0   6413.629404  ...   4272.00  522188.0
permit_recheck              1100.0   1165.956364  ...      0.00  116681.0
handgun                    12465.0   5940.881107  ...   7280.00  107224.0
long_gun                   12466.0   7810.847585  ...  10380.75  108058.0
other                       5500.0    360.471636  ...    354.00   77929.0
multiple                   12485.0    268.603364  ...    301.00   38907.0
admin                      12462.0     58.898090  ...      0.00   28083.0
prepawn_handgun            10542.0      4.828021  ...      5.00     164.0
prepawn_long_gun           10540.0      7.834156  ...      8.00     269.0
prepawn_other               5115.0      0.165591  ...      0.00      49.0
redemption_handgun         10545.0    407.970413  ...    561.00   10046.0
redemption_long_gun        10544.0    599.332417  ...    872.00    8831.0
redemption_other            5115.0      1.815249  ...      2.00      79.0
returned_handgun            2200.0     29.612727  ...     16.00     603.0
returned_long_gun           2145.0      7.557576  ...      4.00     168.0
returned_other              1815.0      1.027548  ...      0.00      64.0
rentals_handgun              990.0      0.076768  ...      0.00      12.0
rentals_long_gun             825.0      0.087273  ...      0.00      12.0
private_sale_handgun        2750.0     14.936000  ...      2.00    1017.0
private_sale_long_gun       2750.0     11.602909  ...      4.00     777.0
private_sale_other          2750.0      1.030182  ...      0.00      71.0
return_to_seller_handgun    2475.0      0.402020  ...      0.00      28.0
return_to_seller_long_gun   2750.0      0.441818  ...      0.00      17.0
return_to_seller_other      2255.0      0.105987  ...      0.00       4.0
totals                     12485.0  21595.725911  ...  25453.00  541978.0

[25 rows x 8 columns]

May want to change colums labels for U.S. census data and make it more concises

In [ ]:
permit_data

         month          state  ...  return_to_seller_other  totals
0      2017-09        Alabama  ...                     3.0   32019
1      2017-09         Alaska  ...                     0.0    6303
2      2017-09        Arizona  ...                     0.0   28394
3      2017-09       Arkansas  ...                     1.0   17747
4      2017-09     California  ...                     0.0  123506
...        ...            ...  ...                     ...     ...
12480  1998-11       Virginia  ...                     NaN      24
12481  1998-11     Washington  ...                     NaN     361
12482  1998-11  West Virginia  ...                     NaN     408
12483  1998-11      Wisconsin  ...                     NaN     241
12484  1998-11        Wyoming  ...                     NaN     107

[12485 rows x 27 columns]

In [ ]:
us_census_data.head()

                                                Fact  ...  Wyoming
0       Population estimates, July 1, 2016,  (V2016)  ...  585,501
1  Population estimates base, April 1, 2010,  (V2...  ...  563,767
2  Population, percent change - April 1, 2010 (es...  ...    3.90%
3                  Population, Census, April 1, 2010  ...  563,626
4  Persons under 5 years, percent, July 1, 2016, ...  ...    6.50%

[5 rows x 52 columns]

May want to change some of the int data types to floats

In [ ]:
permit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12485 entries, 0 to 12484
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   month                      12485 non-null  object
 1   state                      12485 non-null  object
 2   permit                     12461 non-null  float64
 3   permit_recheck             1100 non-null   float64
 4   handgun                    12465 non-null  float64
 5   long_gun                   12466 non-null  float64
 6   other                      5500 non-null   float64
 7   multiple                   12485 non-null  int64
 8   admin                      12462 non-null  float64
 9   prepawn_handgun            10542 non-null  float64
 10  prepawn_long_gun           10540 non-null  float64
 11  prepawn_other              5115 non-null   float64
 12  redemption_handgun         10545 non-null  float64
 13  redemption_long_gun        10544 non-null  float64
 14  redemption_other           5115 non-null   float64
 15  returned_handgun           2200 non-null   float64
 16  returned_long_gun          2145 non-null   float64
 17  returned_other             1815 non-null   float64
 18  rentals_handgun            990 non-null    float64
 19  rentals_long_gun           825 non-null    float64
 20  private_sale_handgun       2750 non-null   float64
 21  private_sale_long_gun      2750 non-null   float64
 22  private_sale_other         2750 non-null   float64
 23  return_to_seller_handgun   2475 non-null   float64
 24  return_to_seller_long_gun  2750 non-null   float64
 25  return_to_seller_other     2255 non-null   float64
 26  totals                     12485 non-null  int64
dtypes: float64(23), int64(2), object(2)
memory usage: 2.6+ MB

In [ ]:
permit_data[permit_data.isnull()].count

<bound method DataFrame.count of       month state  ...  return_to_seller_other  totals
0       NaN   NaN  ...                     NaN     NaN
1       NaN   NaN  ...                     NaN     NaN
2       NaN   NaN  ...                     NaN     NaN
3       NaN   NaN  ...                     NaN     NaN
4       NaN   NaN  ...                     NaN     NaN
...     ...   ...  ...                     ...     ...
12480   NaN   NaN  ...                     NaN     NaN
12481   NaN   NaN  ...                     NaN     NaN
12482   NaN   NaN  ...                     NaN     NaN
12483   NaN   NaN  ...                     NaN     NaN
12484   NaN   NaN  ...                     NaN     NaN

[12485 rows x 27 columns]>

The us census dtypes are obejcts meaning strings which means they need to change from strings to floats

In [ ]:
us_census_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 52 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Fact            80 non-null     object
 1   Fact Note       28 non-null     object
 2   Alabama         65 non-null     object
 3   Alaska          65 non-null     object
 4   Arizona         65 non-null     object
 5   Arkansas        65 non-null     object
 6   California      65 non-null     object
 7   Colorado        65 non-null     object
 8   Connecticut     65 non-null     object
 9   Delaware        65 non-null     object
 10  Florida         65 non-null     object
 11  Georgia         65 non-null     object
 12  Hawaii          65 non-null     object
 13  Idaho           65 non-null     object
 14  Illinois        65 non-null     object
 15  Indiana         65 non-null     object
 16  Iowa            65 non-null     object
 17  Kansas          65 non-null     object
 18  Kentucky        65 non-null     object
 19  Louisiana       65 non-null     object
 20  Maine           65 non-null     object
 21  Maryland        65 non-null     object
 22  Massachusetts   65 non-null     object
 23  Michigan        65 non-null     object
 24  Minnesota       65 non-null     object
 25  Mississippi     65 non-null     object
 26  Missouri        65 non-null     object
 27  Montana         65 non-null     object
 28  Nebraska        65 non-null     object
 29  Nevada          65 non-null     object
 30  New Hampshire   65 non-null     object
 31  New Jersey      65 non-null     object
 32  New Mexico      65 non-null     object
 33  New York        65 non-null     object
 34  North Carolina  65 non-null     object
 35  North Dakota    65 non-null     object
 36  Ohio            65 non-null     object
 37  Oklahoma        65 non-null     object
 38  Oregon          65 non-null     object
 39  Pennsylvania    65 non-null     object
 40  Rhode Island    65 non-null     object
 41  South Carolina  65 non-null     object
 42  South Dakota    65 non-null     object
 43  Tennessee       65 non-null     object
 44  Texas           65 non-null     object
 45  Utah            65 non-null     object
 46  Vermont         65 non-null     object
 47  Virginia        65 non-null     object
 48  Washington      65 non-null     object
 49  West Virginia   65 non-null     object
 50  Wisconsin       65 non-null     object
 51  Wyoming         65 non-null     object
dtypes: object(52)
memory usage: 34.7+ KB

> **Tip**: You should _not_ perform too many operations in each cell. Create cells freely to explore your data. One option that you can take with this project is to do a lot of explorations in an initial notebook. These don't have to be organized, but make sure you use enough comments to understand the purpose of each code cell. Then, after you're done with your analysis, create a duplicate notebook where you will trim the excess and organize your steps so that you have a flowing, cohesive report.

> **Tip**: Make sure that you keep your reader informed on the steps that you are taking in your investigation. Follow every code cell, or every set of related code cells, with a markdown cell to describe to the reader what was found in the preceding cell(s). Try to make it so that the reader can then understand what they will be seeing in the following cell(s).

### Data Cleaning (Replace this with more specific notes!)

In [ ]:
# After discussing the structure of the data and any problems that need to be
#   cleaned, perform those cleaning steps in the second part of this section.

In [ ]:
print(f"Shape of data: {permit_data.shape}")
print(f"Number of missing values in the data:\
{permit_data.isnull().sum().sum()}")
print(f"Number of duplicated values: {permit_data.duplicated().sum()}")

Shape of data: (12485, 27)
Number of missing values in the data:154595
Number of duplicated values: 0

Remove missing values

In [ ]:
permit_data.dropna(inplace=True)

# Verify missing values 

print(f"Number of missing values in the data:\
{permit_data.isnull().sum().sum()}")

Number of missing values in the data:0

In [ ]:
print(f"Shape of data: {us_census_data.shape}")
print(f"Number of missing values in the data:\
{us_census_data.isnull().sum().sum()}")
print(f"Number of duplicated values: {us_census_data.duplicated().sum()}")

Shape of data: (85, 52)
Number of missing values in the data:1062
Number of duplicated values: 3

In [ ]:
permit_data.duplicated().sum()

0

In [ ]:
us_census_data.isnull().sum()

Fact               5
Fact Note         57
Alabama           20
Alaska            20
Arizona           20
Arkansas          20
California        20
Colorado          20
Connecticut       20
Delaware          20
Florida           20
Georgia           20
Hawaii            20
Idaho             20
Illinois          20
Indiana           20
Iowa              20
Kansas            20
Kentucky          20
Louisiana         20
Maine             20
Maryland          20
Massachusetts     20
Michigan          20
Minnesota         20
Mississippi       20
Missouri          20
Montana           20
Nebraska          20
Nevada            20
New Hampshire     20
New Jersey        20
New Mexico        20
New York          20
North Carolina    20
North Dakota      20
Ohio              20
Oklahoma          20
Oregon            20
Pennsylvania      20
Rhode Island      20
South Carolina    20
South Dakota      20
Tennessee         20
Texas             20
Utah              20
Vermont           20
Virginia          20
Washington        20
West Virginia     20
Wisconsin         20
Wyoming           20
dtype: int64

In [ ]:
us_census_data.duplicated().sum()

3

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. Compute statistics and create visualizations with the goal of addressing the research questions that you posed in the Introduction section. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables.

### Research Question 1 (Replace this header name!)

In [ ]:
# What census data ismost associated withhigh gun per capita?Which states have hadthe highest growth ingun registrations?What is the overalltrend of gunpurchases?

### Research Question 2  (Replace this header name!)
#What census data ismost associated withhigh gun per capita?Which states have hadthe highest growth ingun registrations?What is the overalltrend of gunpurchases?

In [ ]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work, you should save a copy of the report in HTML or PDF form via the **File** > **Download as** submenu. Before exporting your report, check over it to make sure that the flow of the report is complete. You should probably remove all of the "Tip" quotes like this one so that the presentation is as tidy as possible. Congratulations!